.bloque {
	display: inline;
	width: 200px;
	height: 90px;
	margin: 10px 20px;
	padding: 10px;
	background: #FFFF00;
}
.rojo {
	display: inline;
	height: 90px;
	width: 200px;
	margin: 10px 20px;
	padding: 10px;
	background: #FF0000;
}
